<div class="auto cell grid-x align-center" style="background-color: #2c3840; color: white;">
    <p style="font-size: x-small; padding: .25rem; margin: 0; font-weight: bold;">&copy; 2019 – Elias Navarro</p>
</div>