<div id="loadAppModal" class="reveal-overlay overflow-hidden hide" style="display: block;">
    <div class="auto cell grid-y grid-frame" role="dialog" aria-hidden="false" style="display: block; top: 136px; background: none; border: none;">
        <div class="grid-y align-center">
            <div class="grid-x align-center">
                <i style="color: white;" class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
</div>