
@model NetBlog.Queries.Blogging.PageHaderModel

<div class="shrink cell app-border-bottom padding-vertical-1" style="background-color: #283e4a;">
    <h1 class="text-center margin-0" style="color: white;">
        <img class="app-profile-image" src="@Model.ProfileUrl" />@Model.Title
    </h1>
</div>