@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="shrink cell app-border-bottom" style="background-color: #283e4a;">
    <h1 class="text-center" style="color: white;">
        <img style="border: 2px solid #fff; box-shadow: inset 0 1.5px 3px 0 rgba(0,0,0,.15), 0 1.5px 3px 0 rgba(0,0,0,.15);border-radius: 49.9%;width: 72px;
    height: 72px;
    box-sizing: border-box;
    background-clip: content-box;"
             src="https://media.licdn.com/dms/image/C4E03AQHg_lZmbQ1QHg/profile-displayphoto-shrink_200_200/0?e=1553731200&v=beta&t=U8dpBPonk85Tt_jY5D8Yb8Nzw6CzujAgwaSZf34x2MU" />&nbsp;Blog
    </h1>
</div>