@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="auto cell grid-y">
    @await Component.InvokeAsync("PageHeader", "Elias Navarro on title")
    <div><h1>Welcome</h1></div>
</div>
