@page
@model NetBlog.WebApplication.Pages.WhoIAmModel
@{
    ViewData["Title"] = "Who I Am";
}

<div class="auto cell">
    @await Component.InvokeAsync("PageHeader", "Elias Navarro Profile")
    @Html.Raw(Model.HtmlData)
</div>